* {
    margin: 0;
    padding: 0;
    background-color:lightblue;
}

.heading {
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    color: #667EEA;
}

.heading h1{
    margin-bottom:20px;
}

.heading p{
    font-style: italic;
}


.start {
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-style:inherit;
    font-family:'Times New Roman', Times, serif;
}

#resulttext {
    color: #667EEA;
    text-align: center;
    font-size: 30px;
}

.Side {
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;
    justify-content:space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 240px;
    margin-left: 240px;
    padding: 60px;
}

.vl{
    width: 3px;
    height: 250px;
    background-color:#667EEA;
    text-align: center;
    position: relative;
}

.Choice{
    text-align: center;
    
}
.buttons{
    display:flex;
    flex-flow: row;
    text-align: center;
    padding:60px;
    justify-content: space-evenly;  
    flex :1 1 auto ;
}

button {
    background-color: yellow;
    border-radius: 3px;
    border-color: #667EEA;
    border-style:double;
    padding: 0px 0px;
}

.Count{
    text-align: center;
    margin-bottom: 30px;
}

.Side .Player{
    display: flex;
    flex-flow: column;
}

footer {
    font-size: 20px;
    color: #667EEA;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

#playagain {
    text-align: center;
}

.Side .Player h2{
    margin-bottom: 30px;
}

.Side .Computer h2{
    margin-bottom: 30px;
}

#popup {
    visibility: hidden;
    font-size: 1.3rem;
    background-color: lightblue;
    border-radius: 1em;
    height: 7em;
    width: 12em;
    margin: -3.5em auto auto -6em;
    padding: 1em;
    border: 2px solid var(--text-links);
    position:fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 2;
  }
  #overlay {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0;
    left: 0;
  }
  #popup button {
    font-size: 1rem;
    background-color: var(--base-darkest);
    color: var(--text-clr);
    padding: 0.8em;
    margin: 0.8em;
    margin-top: 1.2em;
    border-radius: 0.5em;
  }

